/*CSS page for GitHub Page Index.html. 
Author: Jules Ackleow
Date: 02/15/2022
*/

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: firebrick;
}

p {
    color: chocolate;
}